@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-image: url('bgblue.jpg');
    background-size: cover;
    background-position: center;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    border-radius: 15px;
}

h1 {
    color: #64b5f6; 
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="number"], input[type="date"], input[type="time"], input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #b0bec5; /* light gray */
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #fff;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="submit"] {
    background-color: #64b5f6; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

input[type="submit"]:hover {
    background-color: #333;
}

a {
    color: #64b5f6; 
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #333;
}
